.wrapper-modal-create-account {
    width: 300px;
    height: 330px;
    background-color: white;

    & > .header-modal-create {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title-modal {
            font-size: 1.5rem;
            font-weight: 550;
        } 
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}