.wrapper-receive-product {
    width: 100%;
    margin-top: 45px;

    .header-tab {
        width: calc(100vw - var(--max-width-sidebar) - 30px);
        // height: 60px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        background-color: white;
        border-bottom: 3px solid #5c7cc2;
        position: fixed;
        z-index: var(--z-index-header-import);
        top: calc(var(--max-height-header));
        left: calc(var(--max-width-sidebar) + 10px);

        Button {
            border-radius: 5px 5px 0 0;
        }
    }
}
