.wrapper-check {
    width: 85vw;

    &.print {
        width: 100%;
        padding: 0 20px;

        .tableWrap {
            max-height: none !important;
            overflow: visible !important;
        }

        .container-check {
            overflow: visible !important;
        }

        :global {
            .ant-table-thead > tr > th::before {
                display: none !important;
            }
            .ant-table-cell {
                border: none !important;
            }
        }
    }
}

.container-check {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.6rem;
    overflow-y: auto;
    overflow-x: hidden;

    h4 {
        padding-left: 10px;
    }
}

// info-check
.info-check {
    background-color: var(--sidebar-background);
    border-radius: 10px;

    .form-info {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding: 10px;

        .form-group {
            margin-bottom: 18px;
            display: flex;
            flex-direction: column;
            flex: 1;

            label {
                margin-bottom: 7px;
                font-size: 1.3rem;
                font-weight: bold;
            }

            input {
                padding: 8px 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 1.2rem;
                outline: none;
                transition: border-color 0.2s ease;

                &:focus,
                &:focus-visible {
                    border-color: #1677ff;
                    box-shadow: 0 0 4px rgba(22, 119, 255, 0.35);
                }
            }
        }
    }
}

// filter-check
.filter-check {
    background-color: var(--sidebar-background);
    border-radius: 10px;
    width: 100%;

    .form-group {
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-left: 10px;
        width: 100%;

        label {
            font-size: 1.3rem;
            font-weight: bold;
        }

        input {
            padding: 8px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1.2rem;
        }
    }
}

// table check
.table-check {
    .title-table {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;

        .btn-complete-check {
            background-color: var(--primary-column-receive-warehouse);
            color: #fff;
        }
    }
}

.tableWrap {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;

    /* Tùy chỉnh scrollbar */
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #94a3b8;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 10px 12px;
        border-bottom: 1px solid #e5e7eb;
        text-align: left;
        font-size: 1.3rem;
    }

    th.location {
        width: 200px;
    }
    th.batchID {
        width: 70px;
    }
    th.productID {
        width: 150px;
    }
    th.productName {
        width: 300px;
    }
    th.unit {
        width: 93px;
    }
    th.status {
        width: 184px;
    }
    th.num {
        width: 110px;
    }
    th.note {
        text-align: center;
        width: 300px;
    }

    td.highlight {
        color: red;
        font-weight: bold;
    }

    th {
        background: #f1f5f9;
        font-weight: 600;
        color: #475569;
        position: sticky; /* giữ cố định */
        top: 0; /* dính ở đầu khi cuộn */
        z-index: 2;
    }

    .num {
        text-align: right;
    }

    .action {
        display: flex;
        flex: 1;
        justify-content: center;
    }

    .amount {
        font-weight: 600;
        color: #111827;
    }

    input,
    select {
        width: 100%;
        border: 1px solid #cbd5e1;
        border-radius: 8px;
        padding: 6px 8px;
        outline: none;

        &:focus {
            border-color: #3b82f6;
            box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.15);
        }
    }

    .iconBtn {
        border: none;
        background: transparent;
        cursor: pointer;
        color: #ef4444;
        font-size: 1rem;
        transition: 0.2s;

        &:hover {
            color: #dc2626;
        }
    }
}

.header-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-generate {
    display: flex;
    align-items: center;

    input {
        flex: 1;
    }
}

.btn-generate {
    width: 120px;
    border-radius: 15px;
    margin-left: 10px;
}

.btn-search {
    border-radius: 15px;
}
