.order-release-batch-product-detail {
    width: 50vw;
    margin: 15px 0 20px;

    .title {
        font-size: 1.5rem;
        font-weight: 500;
    }
}
.cell-number {
    text-align: right;
    width: 100%;
    padding-right: 10px;
}
