.wrapper-layout {
    width: 100%;
    background-color: var(--primary-background);
    position: relative;
}

.container-content {
    margin-top: var(--max-height-header);
    margin-left: var(--max-width-sidebar);
    padding: 0 30px 0 30px;
    background-color: var(--primary-background);
    flex: 1;
}

.btn-show-chat-box {
    width: 150px;
    height: 56px;
    border-radius: 40px;
    background-color: var(--primary-button-gradient-two); // Use theme variable
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); // Softer shadow
    border: none;
    outline: none;
    // position: fixed;
    // bottom: 2vh;
    // right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    & > .title-chat-box {
        color: white;
        font-size: 1.6rem;
        margin-left: 10px;
        font-weight: bold;
    }

    &:hover {
        background-color: var(--primary-button-gradient-two-hover); // Use theme variable
    }
}

.group-btn-chat-box {
    display: flex;
    align-items: center;
    background-color: #f1f5f9; // Slate 100
    padding: 5px;
    border-radius: 10px;
    gap: 10px;
    position: fixed;
    bottom: 2vh;
    right: 15px;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}
