.wrapper-release-product {
    width: 100%;
    margin-top: 45px;

    .header-tab {
        width: calc(100vw - var(--max-width-sidebar) - 30px);
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        background-color: white;
        border-bottom: 3px solid #5c7cc2;
        position: fixed;
        z-index: var(--z-index-header-import);
        top: calc(var(--max-height-header));
        left: calc(var(--max-width-sidebar) + 10px);

        Button {
            border-radius: 5px 5px 0 0;
        }
    }

    .header-receive-product {
        width: 100%;
        height: 60px;
        background-color: white;
        padding: 0 10px;
        overflow: hidden;
        transition: 0.3s linear;
        border-radius: 5px;

        .table-proposal {
            visibility: hidden;
            opacity: 0;
        }

        &.show {
            height: 320px;

            .table-proposal {
                visibility: visible;
                opacity: 1;
            }
        }

        .form-group {
            width: 100%;
            display: flex;
            align-items: center;
            height: 60px;
            justify-content: flex-end;
            border-bottom: 1px solid #d9d9d9;

            h2 {
                flex: 1;
            }
        }

        .form-control {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            column-gap: 10px;

            input {
                font-size: 1.5rem;
                width: 15px;
                height: 15px;
            }

            label {
                flex: 1;
                font-size: 1.5rem;
                margin-left: 5px;
            }
        }
    }

    .view-list-proposal {
        margin-top: 170px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .table-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 5px 0;

            .table-title {
                font-size: 1.7rem;
                flex: 1;
                font-weight: 550;
            }
        }

        .pagination-table {
            margin: 15px 0;
            align-self: flex-end;
        }
    }
}

.status-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.status-indicator.PENDING {
    background-color: orange;
}

.status-indicator.COMPLETED {
    background-color: green;
}

.status-indicator.REFUSE {
    background-color: red;
}

.status-proposal {
    display: flex;
    align-items: center;
}

.text {
    margin: 0;
    padding: 0;
}
