.wrapper-approve {
    width: 100%;
}

.table-container-header {
    margin-top: 170px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-end;

    .my-table {
        width: 100%;
    }
}

.action-table-icon {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.status-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.status-indicator.PENDING {
    background-color: orange;
}

.status-indicator.COMPLETED {
    background-color: green;
}

.status-indicator.REFUSE {
    background-color: red;
}

.status-proposal {
    display: flex;
    align-items: center;
}

.text {
    padding: 0;
    margin: 0 0;
}
