.wrapper-detail-import-product-content {
    width: 70vw;
    min-height: 200px;
    background-color: white;

    .title-header {
        width: 100%;
        font-size: 1.6rem;
        font-weight: 550;
    }

    .row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 10px;
    }

    .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        & > label {
            width: 115px;
            font-size: 1.4rem;
            margin-bottom: 10px;
        }

        & > input {
            width: 100%;
            font-size: 1.4rem;
            height: 35px;
            border-radius: 5px;
            border: 1px solid #d9d9d9;
            padding: 0 5px;
        }
        
    }

    .action-modal {
        width: 100%;
        text-align: right;
        margin-top: 15px;
    }
}

.suggest-location-view {
    width: 100%;

    & > p {
        font-size: 1.3rem;
        font-weight: 400;
    }
}

